.mobile_block {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 103.5px 96px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  border-bottom: 1px solid #cbcbcb;
}

.img {
  width: 371.46px;
  height: 625px;
  object-fit: contain;
  transform: translateX(113px);
}

.group {
  max-width: 545px;
  padding: 91px 0 0 0;
}

.title {
  margin-bottom: 64px;
  color: #18181b;
  font-weight: 700;
  font-size: 50.92px;
  font-family: var(--font-family);
  line-height: 1.14;
  white-space: pre-wrap;
}

.list {
  padding-left: 30px;
  list-style: disc;
}

.list_item {
  margin-bottom: 27.94px;
  color: #676767;
  font-weight: 400;
  font-size: 20.33px;
  font-family: var(--third-family);
  line-height: 1.5;
}

.list_item:last-child {
  margin-bottom: 67px;
}

.btn {
  position: relative;
}

.btn::after {
  position: absolute;
  right: 215px;
  bottom: -60px;
  content: url('../../../shared/assets/icons/spiral.svg');
}

@media (max-width: 1280px) {
  .mobile_block {    
    padding: 103.5px 40px 0; 
  }
  .img {
    width: 315px;
    height: 531px;
    transform: translateX(90px);
  }
}

@media (max-width: 1024px) {
  .mobile_block {    
    padding: 103.5px 40px 0; 
  }
  .wrapper {
    gap: 15px;
  }
  .img {
    width: 268px;
    height: 451px;    
    transform: translateX(0);
  }
  .group {   
    padding: 0;
  }
  .btn::after {
    right: 190px;    
    bottom: -80px;
    transform: rotate(20deg);
  }
  .title {
    margin-bottom: 30px;
    font-size: 45px;
  }
  .list_item {  
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .list_item:last-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .mobile_block {    
    padding: 50px 20px 0; 
  }
  .wrapper {
    gap: 10px;
    padding-bottom: 80px;
  }
  .img {
    width: 160px;
    height: auto;
  }

  .btn::after {    
    content: '';
  }
  .title {
    margin-bottom: 25px;
    font-size: 32px;
  }
  .list_item {  
    margin-bottom: 18px;
    font-size: 15px;
  }
  
  .list_item:last-child {
    margin-bottom: 35px;
  }
}

@media (max-width: 500px) {  
  .img {
    display: none;
  }  
}
