.review_text {
  box-sizing: border-box;
  max-width: 400px;
  min-height: 200px;
  padding: 38px 43px;
  border-radius: 20px;
  background-color: var(--white-color);
  animation: fadeIn 0.5s ease-in-out;
}

.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name {
  color: #030314;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--font-family);
  line-height: 1.5;
}

.quote {
  transform: translateX(-6px);
}

.paragraph {
  margin-bottom: 7px;
  color: #636363;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-family);
  font-style: italic;
  line-height: 1.45;
  text-align: justify;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .review_text {
    padding: 27px 32px;
  }
  .paragraph {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .review_text {
    margin-bottom: 10px;
  }
  .quote {
    width: 40px;
  }
}

@media (max-width: 390px) {
  .review_text {
    padding: 20px 25px;
  }
  .name {
    font-size: 17px;
  }
}
