.footer {
  background-color: #eaeaea;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 96px 90px 81px 103px;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 103.12px;
  padding-bottom: 29px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 57px;
}

.group {
  display: flex;
  justify-content: space-between;
  max-width: 1237.62px;
}

.copyright {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 17px;
  color: #999;
}

@media (max-width: 1280px) {
  .container {    
    padding: 96px 40px 81px;
  }
}

@media (max-width: 768px) {
  .container {    
    padding: 96px 20px 81px;
  }
  .group {
    flex-wrap: wrap;
    gap: 20px;
  }
  .copyright {
    word-spacing: nowrap;
  }
}

@media (max-width: 500px) {
  .footer_wrapper {    
    gap: 35px;
    flex-wrap: wrap;
  }  
}

@media (max-width: 390px) {
  .container {    
    padding: 45px 10px 40px;
  }
  .footer_wrapper {    
    margin-bottom: 35px;
  }
  .copyright {
    font-size: 15px;
  }
}