.btn {
  display: flex;
  align-items: center;
  border-radius: 12px;  
  border: 1.5px solid var(--blue-color);;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16.27px;
  max-height: 59px;
  cursor: pointer;
  letter-spacing: 0.01px;
}

.primary {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 18px 31px 17px 30px;
}

.secondary {
  background-color: var(--white-color);
  color: var(--blue-color);
  padding: 18px 28px 17px 27px;
}
