.btn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-height: 59px;
  font-weight: 500;
  font-size: 16.27px;;
  font-family: var(--font-family);
  letter-spacing: 0.01px;  
  border: 1.5px solid var(--blue-color);
  border-radius: 12px;
  cursor: pointer;
  transition: opacity ease-in-out .3s;
}

.btn:hover {
  opacity: .8;
}

.primary {
  padding: 18px 31px 17px 30px;
  color: var(--white-color);
  background-color: var(--blue-color);
}

.secondary {
  padding: 18px 28px 17px 27px;
  color: var(--blue-color);
  background-color: var(--white-color);
}

@media (max-width: 390px) {
  .primary {
    padding: 15px 28px 14px 27px;
  }  
  .secondary {
    padding: 15px 25px 14px 24px;
  }
  .btn {    
    font-size: 14px;    
  }
}