.questions {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 175px 144px 190px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  color: #323142;
  max-width: 408px;
  margin: 0 auto 114px;
  position: relative;
}

.title::after {
  content: url('../../../shared/assets/icons/Illustration.svg');
  position: absolute;
  top: -45px;
  right: -40px;
}

.list_item {
  margin-bottom: 27px;
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
}

.list_item:last-child {
  margin-bottom: 0;
}

.caption {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 23.42px;
  line-height: 2.4;
  color: #323142;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1125px;
  margin: 0 auto 20px;
}

.accordion_collapse {
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #cbcbcb;
  will-change: height;
  transition: height 0.3s;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #686868;
  max-width: 1140px;
  margin: 0 auto;
  white-space: pre-wrap;  
}

.text::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 40px;
}

.text_visible::after {
  border-bottom: none;
}

.text_visible {
  height: auto;
}

.btn {
  background-image: url('../../../shared/assets/icons/plus.svg');
  transition: all .3s ease-out;
  width: 30.12px;
  height: 30.12px;
  border: none;
  border-radius: 50%;
  will-change: auto;
}

.btn_active {
  transform: rotate(180deg);
  background-image: url('../../../shared/assets/icons/minus.svg');
}

@media (max-width: 1280px) {
  .questions {    
    padding: 175px 40px 180px;
  }
}

@media (max-width: 768px) {
  .questions {    
    padding: 90px 20px;
  }
  .caption {
    font-size: 18px;
    line-height: 1;
  }
  .text {
    font-size: 16px;    
  }
  .title {
    font-size: 40px;    
  }
  .title::after {
    content: url('../../../shared/assets/icons/Illustration.svg');
    position: absolute;
    top: -35px;
    right: -20px;
  }
}

@media (max-width: 500px) {
  .caption {
    font-size: 14px;    
  }
  .group {
    gap: 10px;
  }
  .text {
    font-size: 12px;   
  }
  .btn {    
    width: 25px;
    height: 25px;
    background-size: 25px;
    flex-shrink: 0;  
  }
}
