.btn_container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn_rotate {
  transform: rotate(180deg);
}

.btn_disabled {
  cursor: not-allowed;
  opacity: .2;
}
