.container {  
  position: relative;
}

.notification {
  position: absolute;
  top: 31px;
  right: 41.2px;
}

.graph {
  width: 283px;
  height: 308px;
  object-fit: contain;
  position: absolute;
  bottom: -10px;
  left: 12px;
}

.img {
  width: 681px;
  height: 611px;
  object-fit: contain;
}

@media (max-width: 1280px) {  
  .img {
    width: 579px;
    height: 519px;
  }
  .graph {
    width: 240px;
    height: 262px;
  }
  .notification {
    top: 26px;
    right: 35px;
  }
}

@media (max-width: 1024px) {  
  .img {
    width: 418px;
    height: 374px;
  }
  .graph {
    width: 173px;
    height: 188px;
    bottom: 100px;
  }
  .notification {
    top: 22px;
    right: 29px;
  }  
}

@media (max-width: 768px) {  
  .graph {
    bottom: 0;
  }
}

@media (max-width: 500px) {  
  .img {
    width: 355px;
    height: 317px;
  }
  .graph {
    width: 147px;
    height: 159px;    
  }
  .notification {
    top: -10px;
    right: 35px;
  }  
}

@media (max-width: 390px) {  
  .img {
    width: 300px;
    height: 269px;
  }
  .graph {
    width: 125px;
    height: 135px;    
  }
  .notification {
    top: -20px;
    right: 35px;
  }  
}