.recipes {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 96px 0;  
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 126px;
  border-bottom: 1px solid #cbcbcb;
}

.title {
  margin-bottom: 85.7px;
  color: var(--black-color);
  font-weight: 600;
  font-size: 45px;
  font-family: var(--font-family);
  line-height: .57;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 75px;
}

.list_item {
  width: 100%;
  max-width: 395px;
  overflow: hidden;
  background: var(--white-color);
  border-radius: 30px;
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7)
}

.recipes_info {
  padding: 8.5px 32px 18px;
}

.img_container {
  width: 100%;
  max-width: 395.99px;
  height: 177px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.category {
  padding: 2.83px 6.39px;
  color: #daa31a;
  font-weight: 400;
  font-size: 12.78px;
  font-family: var(--font-family);
  background-color: #f7edd0;
  border-radius: 5px;
}

.recipes_title {
  color: var(--black-color);
  font-weight: 600;
  font-size: 25.79px;
  font-family: var(--font-family);
  line-height: 1.62;
}

.time {
  color: #8e97a6;
  font-weight: 400;
  font-size: 19px;
  font-family: var(--second-family);
  line-height: 1.33;
}

.info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.link {
  display: inline-block;
  align-self: flex-end;
  width: max-content;
  margin-right: 12px;
  color: #acadb9;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--font-family);
  letter-spacing: -0.01em;
}

.icon  {
  padding-left: 20px;  
}

.group {
  display: flex;
  justify-content: space-between;
}

.list_item:hover .img {
  transform: translateY(-45.6px);
}

.list_item:hover .bookmark {
  overflow: visible;
  opacity: 1;
}

.bookmark {
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.no_comment {
  color: #636363;
  font-size: 18px;
  font-family: var(--font-family);
  text-align: center;
}

@media (max-width: 1280px) {
  .recipes {    
    padding: 100px 40px 0;  
  }
  .list {
    gap: 40px;
  }
  .list_item {
    max-width: 350px;
  }
}

@media (max-width: 1024px) {
  .recipes {    
    padding: 100px 20px 0;  
  }
  .list {
    gap: 40px;
  }
  .recipes_title {
    font-size: 23px;
  }
  .list_item {
    max-width: 330px;
  }
}

@media (max-width: 500px) {
  .recipes {    
    padding: 50px 20px 0;  
  }
  .title {
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 1;
  }
  .wrapper {    
    padding-bottom: 60px;    
  }
}

@media (max-width: 390px) {
  .recipes {    
    padding: 50px 10px 0;  
  }  
  .recipes_title {
    font-size: 20px;
  }
}