.reviews {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 116px 96px 95px;
}

.title {
  margin-bottom: 80px;
  padding-left: 20px;
  color: var(--black-color);
  font-weight: 600;
  font-size: 45px;
  font-family: var(--font-family);
  line-height: 0.56;
  text-align: center;
}

.no_comment {
  color: #636363;
  font-size: 18px;
  font-family: var(--font-family);
  text-align: center;
}

@media (max-width: 1024px) {
  .reviews {
    padding: 116px 40px 95px;
  }
}

@media (max-width: 768px) {
  .reviews {
    padding: 70px 20px;
  }
}

@media (max-width: 390px) {
  .title {
    margin-bottom: 50px;
    line-height: 1;
  }
}
