.container {
  display: flex;
  gap: 37px;
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 607px;
  margin: 0 auto;
  padding: 49px 58.52px 74px 96px;
}
.enjoy_food {
  max-width: 568px;
  padding-top: 65px;
}

.count_user {
  margin-bottom: 18px;
  color: #201f1f;
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font-family);
  letter-spacing: 0.14em;
  opacity: 0.2;
}

.count_user::before {
  display: inline-block;
  width: 74px;
  height: 17px;
  background: url('../../../shared/assets/icons/line.svg') no-repeat 0 10px;
  content: '';
}

.title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 75px;
  font-family: var(--font-family);
  line-height: 1.2;
  letter-spacing: -3px;
}

.paragraph {
  max-width: 499px;
  margin-bottom: 54px;
  color: #676767;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--third-family);
  line-height: 1.56;
  text-align: justify;
}

.btn_group {
  display: flex;
  gap: 18px;
}

.enjoy_photo {  
  position: relative;
}

.notification {
  position: absolute;
  top: 31px;
  right: 41.2px;
}

.graph {
  position: absolute;
  bottom: -10px;
  left: 12px;
  width: 283px;
  height: 308px;
  object-fit: contain;
}

.img {
  width: 681px;
  height: 611px;
  object-fit: contain;
}

@media (max-width: 1280px) {
  .container {
    gap: 37px;
    padding: 49px 40px 74px;
  }
  .title {
    font-size: 60px;
  }
  .img {
    width: 579px;
    height: 519px;
  }
  .graph {
    width: 240px;
    height: 262px;
  }
  .notification {
    top: 26px;
    right: 35px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 35px;
  }
  .paragraph {
    max-width: 499px;
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.56;
  }
  .img {
    width: 418px;
    height: 374px;
  }
  .graph {
    bottom: 100px;
    width: 173px;
    height: 188px;
  }
  .notification {
    top: 22px;
    right: 29px;
  }  
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
    padding: 49px 20px 74px;
  }
  .enjoy_food {
    max-width: none;
    padding-top: 0;
  }
  .paragraph {
    max-width: none;
  }
  .graph {
    bottom: 0;
  }
}

@media (max-width: 500px) {  
  .img {
    width: 355px;
    height: 317px;
  }
  .graph {
    width: 147px;
    height: 159px;    
  }
  .notification {
    top: -10px;
    right: 35px;
  }  
}

@media (max-width: 390px) {  
  .img {
    width: 300px;
    height: 269px;
  }
  .graph {
    width: 125px;
    height: 135px;    
  }
  .notification {
    top: -20px;
    right: 35px;
  }  
}