.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 
    'title title'
    'user raiting'
    'user tags'
    'text text';
  row-gap: 7px;
  padding: 126px 96px 50px;
  box-sizing: border-box;
}
