body {
  background-color: var(--tg-theme-bg-color);
}

.balance {
  color: var(--tg-theme-text-color);
}

.button {
  padding: 10px 15px;
  border: none;
  color: var(--tg-theme-button-text-color);  
  background:  var(--tg-theme-button-color);  
  outline: none;
  cursor: pointer;
}

.test {
  padding: 10px;
}