.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 4.07px 23px 4.27px 16.24px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 20px 30px 0 rgba(70, 70, 70, 0.1);
}

.container_xs {
  max-width: 328.7px;
}

.container_sm {
  max-width: 345.17px;
  padding-right: 17px;
}

.group {
  display: flex;
  gap: 16px;
}

.container_sm .group {
  gap: 19px;
}

.img {
  width: 77px;
  height: 80px;
  object-fit: contain;
}

.font {
  color: var(--black-color);
  font-family: var(--font-family);
  line-height: 1.4;
}

.title {
  composes: font;
  margin-bottom: 11.07px;
  padding-top: 12px;
  font-weight: 600;
  font-size: 15.59px;
}

.container_sm .title {
  margin-bottom: 4px;
  padding-top: 17px;
  font-size: 19.06px;
}

.status {
  composes: font;
  font-weight: 500;
  font-size: 9px;  
}

.container_sm .status {
  font-size: 12px;
}

.time {
  composes: font;
  padding-bottom: 8px;
  color: #acadb9;
  font-weight: 500;
  font-size: 10.66px;
}

.container_sm .time {
  padding-bottom: 3px;
  font-size: 13px;
}

.status_cancel {
  color: #F1534E
}

@media (max-width: 1280px) {  
  .container_xs {
    max-width: 279.4px;
  }

  .img {
    width: 65.5px;
    height: 68px;
  }
  .group {
    gap: 13px;
  }
  .title {
    margin-bottom: 9.4px;
    padding-top: 10px;
    font-size: 13.3px;
  }
  .time {
    padding-bottom: 7px;
    font-size: 9px;
  }
}

@media (max-width: 1024px) {  
  .container_xs {
    max-width: 223px;
  }
  .group {
    gap: 11px;
  }
  .title {
    margin-bottom: 8px;
    padding-top: 9px;
    font-size: 11.3px;
  }  
}