.control {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 134px 83px 0 122px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 133px;
  border-bottom: 1px solid #cbcbcb;
}

.title {
  max-width: 559px;
  margin-bottom: 48px;
  color: #18181b;
  font-weight: 700;
  font-size: 50.92px;
  font-family: var(--font-family);
  line-height: 1.14;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15.05px;
  transform: translateX(-11px);
}

.dashboard {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 534px;
  height: 466px;  
  padding: 37.69px 37.69px 45.55px;
  border: 1.57px solid #edf2f7;
  border-radius: 25px;
  background-color: var(--white-color);
}

.dashboard::after {
  position: absolute;
  z-index: -1;
  display: block;
  width: 466px;
  height: 359px;
  background: var(--black-color);
  opacity: 0.2;
  filter: blur(121.69px);
  content: '';
}

.dashboard_title {
  color: #1a202c;
  font-weight: 800;
  font-size: 28.27px;
  font-family: var(--second-family);
  line-height: 1.35;
  letter-spacing: .31px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.select {
  width: 175px;
  height: 53px;
  padding: 0 15px;
  border: none;
  border-radius: 13px;
  color: #1a202c;
  font-weight: 600;
  font-size: 18.85px;  
  font-family: var(--second-family);
  line-height: 1.5;
  letter-spacing: 0.63px;
  background: #fafafa url('../../../shared/assets/icons/dropdown.svg') no-repeat;
  background-position: 133px 20px;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:focus {
  outline: none;
}

.list_item {
  display: grid;
  grid-template-areas: 
    'icon info sum'
    'bar bar bar';
  grid-template-columns: 50.26px minmax(150px, 1fr) 1fr;
  align-items: center;
  justify-items: end;
  margin-bottom: 22px;
  padding: 27.57px 25.13px 24.96px;
  border: 1.57px solid #edf2f7;
  border-radius: 19px;
  column-gap: 17px;
  row-gap: 21px;
}

.icon {
  grid-area: icon;
}

.purchase_info {
  grid-area: info;
  justify-self: flex-start;
}

.purchase_title {
  margin-bottom: 13px;
  color: #1a202c;
  font-weight: 800;
  font-size: 18.85px;
  font-family: var(--second-family);
  line-height: 1;
  letter-spacing: 0.63px;
}

.purchase_subtitle {
  color: #a0aec0;
  font-weight: 500;
  font-size: 15.71px;
  font-family: var(--second-family);
  line-height: 1;
  letter-spacing: 0.63px;
}

.purchase_sum {
  grid-area: sum;
  color: #1a202c;
  font-weight: 800;
  font-size: 21px;
  font-family: var(--second-family);
  line-height: 1.5;
  letter-spacing: 0.63px;
}

.bar {
  position: relative;
  grid-area: bar;
  width: 100%;
  max-width: 408px;
  height: 9px;
  border-radius: 79px;
}

.bar_blue {  
  background-color: #6c5fbc99;
}

.bar_blue:after {
  position: absolute;
  top: 0;
  width: 72%;
  height: 9px;
  border-radius: 79px;
  background-color: var(--blue-color);
  content: '';
}

.bar_orange {
  background-color: #f0cf9099;
}

.bar_orange:after {
  position: absolute;
  top: 0;
  width: 60%;
  height: 9px;
  border-radius: 79px;
  background-color: #fbad18;
  content: '';
}

@media (max-width: 1280px) {
  .control {    
    padding: 134px 40px 0;  
  }
  .title {    
    font-size: 40px;
  }
  .dashboard {    
    max-width: 500px;
    height: 400px;  
    padding: 35px 35px 43px;
  }
  .dashboard::after {   
    right: 0;
    content: '';
  }  
  .list_item {
    margin-bottom: 15px;
    padding: 23px 21px 20px; 
    column-gap: 15px;
    row-gap: 17px;
  }
  .group {
    margin-bottom: 20px;
  }
  .wrapper {
    gap: 15px;
  }
}

@media (max-width: 1024px) {  
  .title {
    margin-bottom: 40px;    
    font-size: 32px;
  }
  .dashboard {    
    max-width: 370px;
    height: 380px;  
    padding: 30px 30px 37px;
  }
  .dashboard_title {
    font-size: 24px;
  }
  .select {
    width: 150px;
    height: 45px;
    font-size: 16px;    
    background-position: 125px 20px;
    background-size: 15px;
  }
  .purchase_title {    
    margin-bottom: 8px;    
    font-size: 16px;
  }  
  .purchase_subtitle {    
    font-size: 14px;    
  }  
  .purchase_sum {    
    font-size: 16px;
  }  
  .bar {    
    max-width: none;    
  }
  .list_item {    
    grid-template-columns: 40px minmax(130px, 140px) 1fr;
    margin-bottom: 15px;
    padding: 23px 21px 20px;    
    column-gap: 15px;
    row-gap: 17px;
  }
  .group {
    margin-bottom: 15px;
  }
  .wrapper {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .control {    
    padding: 70px 20px 0;  
  }
  .title {
    text-align: center;
  }
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: none;
  }
  .notification_item {
    flex-shrink: 0;
    min-width: 305px;
  }
}

@media (max-width: 500px) {  
  .dashboard {    
    max-width: 305px;
    height: 380px;  
    padding: 25px;
  }
  .list_item {
    grid-template-areas: 
      'icon info'
      'icon sum'
      'bar bar';
    grid-template-columns: 50.26px 1fr;
    justify-items: start;
    column-gap: 15px;
    row-gap: 5px;
  }
  .purchase_title {
    margin-bottom: 3px;
  }
  .dashboard_title {
    font-size: 21px;
  }
  .select {
    width: 120px;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;    
    background-position: 100px 17px;
    background-size: 10px;
  }
}

@media (max-width: 390px) {
  .control {    
    padding: 70px 10px 0;  
  }
}