.posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 85px;
  column-gap: 10px;
  row-gap: 43px;
}

.post {
  position: relative;
  display: grid;
  grid-template-areas:
    'title title'
    'user raiting'
    'tags tags'
    'text text';
  grid-template-columns: 1fr 40px;
  box-sizing: border-box;
  width: 100%;
  max-width: 349px;
  padding: 26px 20px;
  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 0 4px 47px 0 rgba(197, 197, 197, 0.25);
  cursor: pointer;
  row-gap: 7px;
}

.post_skelet {
  box-sizing: border-box;
  width: 100%;
  max-width: 349px;
  min-height: 279px;
  padding: 26px 20px;
  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 0 4px 47px 0 rgba(197, 197, 197, 0.25);
}

.post::after {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  max-width: 381px;
  height: 273px;
  border-radius: 13px;
  background: var(--black-color);
  opacity: 0.2;
  filter: blur(117.5px);
  content: '';
}

.post_title {
  grid-area: title;
  margin-bottom: 5px;
  color: #252525;
  font-weight: 600;
  font-size: 21px;
  font-family: var(--font-family);
  line-height: 1.19;
}

.post_title_full {
  margin-bottom: 32px;
  font-size: 37px;
}

.post_hash {
  grid-area: tags;
  margin-bottom: 17px;
  color: #8d8d8d;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.post_hash_full {
  justify-self: end;
  margin-bottom: 0;
}

.post_text {
  grid-area: text;
  max-height: 78px;
  color: #081420;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  text-align: justify;
}

.post_text_full {
  max-height: none;
  margin: 60px 0 90px;
}

.no_posts {
  margin: 0 auto;
  color: #636363;
  font-size: 18px;
  font-family: var(--font-family);
}

.avatar {
  width: 43.7px;
  height: 43.7px;
  border-radius: 50%;
  object-fit: cover;
}

.user_group {
  display: flex;
  grid-area: user;
  gap: 14px;
  align-items: center;
}

.written {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
}

.user_name {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.53;
}

.raiting {
  grid-area: raiting;
}

@media (max-width: 1440px) {
  .posts_container {
    justify-content: center;
  }
}
