.posts_container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 43px;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.post {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-areas: 
    'title title'
    'user raiting'
    'tags tags'
    'text text';
  row-gap: 7px;
  max-width: 349px;
  width: 100%;
  padding: 26px 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 0 4px 47px 0 rgba(197, 197, 197, 0.25);
  position: relative;
  cursor: pointer;
}

.post::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  max-width: 381px;
  width: 100%;
  height: 273px;
  border-radius: 13px;
  filter:  blur(117.5px);
  background: #323142;
  opacity: 0.2;
  z-index: -1;
}

.post_title {
  grid-area: title;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 1.19;
  color: #252525;
  margin-bottom: 5px;
}

.post_title_full {
  font-size: 37px;
  margin-bottom: 32px;
}

.post_hash {
  grid-area: tags;
  font-weight: 400;
  font-size: 12px;
  color: #8d8d8d;
  line-height: 1;
  margin-bottom: 17px;
}

.post_hash_full {
  justify-self: end;
  margin-bottom: 0;
}

.post_text {
  grid-area: text;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  text-align: justify;
  color: #081420;
  max-height: 78px;
}

.post_text_full {
  margin: 60px 0 90px;
  max-height: none;
}

.no_posts {
  font-family: var(--font-family);
  margin: 0 auto;
  font-size: 18px;
  color: #636363;
}

.avatar {
  width: 43.7px;
  height: 43.7px;
  border-radius: 50%;
  object-fit: cover;
}

.user_group {
  grid-area: user;
  display: flex;
  align-items: center;
  gap: 14px;
}

.written {
  font-weight: 400;
  font-size: 15px;
  color: #8d8d8d;
  line-height: 1;
}

.user_name {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.53;
}

.raiting {
  grid-area: raiting;
}

@media (max-width: 1440px) {
  .posts_container {    
    justify-content: center;  
  }
}
