.container {
  box-sizing: border-box;
  padding: 50px 150px 50px 144px;
}

.title {
  margin-bottom: 77px;
  color: #252525;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.48;
}

.comment {
  position: relative;
  max-width: none;
  margin-bottom: 118px;
}

.comment:last-child {
  margin-bottom: 0;
}

.comment::after {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  max-width: 1189px;
  height: 201px;
  border-radius: 13px;
  background: var(--black-color);
  opacity: 0.2;
  filter: blur(184.4px);
  content: '';
}

.no_comment {
  margin-bottom: 50px;
  color: #636363;
  font-size: 18px;
  font-family: var(--font-family);
  text-align: center;
}
